<div class="container">
  <form (ngSubmit)="submit()" #forma="ngForm">
    <h3>Inicio de sesión - Template Form</h3>
    <hr />

    <div>
      <label for="name"><b>Nombre</b></label>
      <input
        type="text"
        #name="ngModel"
        [(ngModel)]="register.name"
        placeholder="Introduzca su nombre de pila"
        name="name"
        minlength="3"
        class="form-control"
        required
        [ngClass]="{ 'is-valid': !name.invalid, 'is-invalid': name.invalid }"
      />
    </div>

    @if (name.invalid && (name.dirty || name.touched)) { @if
    (name.errors?.['minlength']) { Introduzca un nombre de pila con 3 caracteres
    mínimo } @if (name.errors?.['required']) { Introduzca un nombre de pila con
    3 caracteres mínimo } }

    <div>
      <label for="email"><b>Correo electrónico</b></label>
      <input
        type="email"
        #email="ngModel"
        [(ngModel)]="register.email"
        placeholder="Introduzca la correo electrónico"
        name="email"
        class="form-control"
        required
        [ngClass]="{ 'is-valid': !email.invalid, 'is-invalid': email.invalid }"
        pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
      />
    </div>

    @if (email.invalid && (email.dirty || email.touched)) { @if
    (name.errors?.['required']) { Introduzca un correo electrónico válido por
    favor } @if (email.errors?.['pattern']) { El correo
    electrónico no sigue el formato correcto. } }

    <div>
      <button type="submit" [disabled]="!forma.valid">Registro</button>
    </div>
  </form>
</div>
