<h1>Lista de artículos</h1>
<table>
  <tr *ngFor="let articulo of listaArticulos">
    <td>{{ articulo.id }}</td>
    <td>{{ articulo.descripcion }}</td>
    <td>{{ articulo.precio }}</td>
    <button (click)="borrarArticulo(articulo.id)">Borrar</button>
    <button (click)="verArticulo(articulo.id)">Editar</button>
  </tr>
</table>

<h4>Gestión de artículos</h4>

<form [formGroup]="formulario">
  <div><input type="text" formControlName="id" placeholder="id..." /></div>
  <div>
    <input
      type="text"
      formControlName="descripcion"
      placeholder="descripcion..."
    />
  </div>
  <div>
    <input type="text" formControlName="precio" placeholder="precio..." />
  </div>

  <div>
    @if (modoEdicion) {
    <button (click)="editarArticulo(formulario.get('id')?.value)">
      Enviar
    </button>
    } @else {<button (click)="crearArticulo()">Crear</button>}
    <input type="reset" />
  </div>
</form>
