<h1>Lista de artículos</h1>
<table>
  <tr *ngFor="let articulo of listaArticulos">
    <td>{{ articulo.id }}</td>
    <td>{{ articulo.descripcion }}</td>
    <button (click)="borrarArticulo(articulo.id)">Borrar</button>
    <button (click)="editarArticulo(articulo.id)">Editar</button>
    <button (click)="verArticulo(articulo.id)">Visualizar</button>
  </tr>
</table>

<button (click)="crearArticulo()">Crear</button>

<h2>Articulo visualizado</h2>
@if (articuloActual.id !='') {
<div>
  <ul>
    <li>Id: {{ articuloActual.id }}</li>
    <li>Descripción: {{ articuloActual.descripcion }}</li>
    <li>Precio: {{ articuloActual.precio }}</li>
  </ul>
</div>
} @else {
<p>No hay selección activa...</p>
}
